<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.memories"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS" />

    <permission
        android:name="com.example.memories.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.example.memories.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.example.memories.volley.AppController"
        android:allowBackup="true"
        android:icon="@drawable/jar"
        android:label="@string/app_name"
        android:theme="@style/myAppTheme">
        <activity
            android:name="com.example.memories.login.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.memories.login.SignIn"
            android:label="@string/app_name"/>
        <activity
            android:name="com.example.memories.login.SignUp"
            android:label="@string/app_name"/>
        <activity
            android:name="com.example.memories.login.NumberVerificationActivity"
            android:label="@string/app_name"/>
        <activity
            android:name="com.example.memories.login.NumberVerificationActivity2"
            android:label="@string/app_name"/>
        <activity
            android:name=".BaseActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name="com.example.memories.checkin.CheckInPlacesList"
            android:label="@string/app_name"/>
        <activity
            android:name="com.example.memories.checkin.CheckInDetails"
            android:label="@string/app_name"/>
        <activity
            android:name="com.example.memories.checkin.CheckInFriendsList"
            android:label="@string/app_name"/>
        <activity
            android:name=".picture.PictureCapture"
            android:label="@string/app_name"/>
        <activity
            android:name=".moods.MoodCapture"
            android:label="@string/app_name"/>
        <activity
            android:name=".audio.AudioCapture"
            android:label="@string/app_name"/>
        <activity
            android:name=".picture.PictureDetail"
            android:label="@string/app_name"/>
        <activity
            android:name="com.example.memories.gallery.GalleryBaseActivity"
            android:label="@string/app_name"/>
        <activity
            android:name="com.example.memories.gallery.GalleryPhotoDetail"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.example.memories.pastjourney.PastJourneyList"
            android:label="@string/app_name"/>
        <activity
            android:name="com.example.memories.newjourney.SelectedFriendsList"
            android:label="@string/app_name"/>
        <activity
            android:name="com.example.memories.newjourney.AllFriendsList"
            android:label="@string/app_name"/>
        <activity
            android:name="com.example.memories.newjourney.NewJourneyDetail"
            android:label="@string/app_name"/>
        <activity
            android:name=".currentjourney.CurrentJourneyBaseActivity"
            android:label="@string/app_name"/>
        <activity
            android:name="com.example.memories.newjourney.AddLap"
            android:label="@string/app_name"/>
        <activity
            android:name="com.example.memories.newjourney.LapsList"
            android:label="@string/app_name"/>
        <activity
            android:name="com.example.memories.newjourney.LocationList"
            android:label="@string/app_name"/>
        <activity
            android:name="com.example.memories.profile.Profile"
            android:label="@string/app_name"/>
        <activity
            android:name="com.example.memories.profile.ChangePassword"
            android:label="@string/app_name"/>
        <activity
            android:name="com.example.memories.audio.AudioDetail"
            android:label="@string/app_name"/>

        <activity
            android:name=".video.VideoCapture"
            android:label="@string/app_name"/>
        <activity
            android:name="com.example.memories.video.VideoDetail"
            android:label="@string/app_name"/>
        <activity
            android:name="com.example.memories.note.CreateNotes"
            android:label="@string/app_name"/>
        <activity
            android:name=".moods.MoodSelectFriends"
            android:label="@string/app_name"/>

        <activity
            android:name="com.example.memories.retrofit.MultiPartUpload"
            android:label="@string/app_name"/>

        <activity
            android:name=".activejourney.ActivejourneyList"
            android:label="@string/app_name"/>

        <activity
            android:name="com.example.memories.currentjourney.JourneyInfo"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name="com.example.memories.picture.DisplayPicture"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>



        <service
            android:name="com.example.memories.services.PullContactsService"
            android:exported="false"/>

        <service
            android:name="com.example.memories.services.PullMemoriesService"
            android:exported="false" />

        <service
            android:name="com.example.memories.services.PullBuddiesService"
            android:exported="false" />

        <!--To recive and read text messages -->
        <receiver
            android:name=".utility.SMSReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <!--
          BroadcastReceiver that will receive intents from GCM
          services and handle them to the custom IntentService.
          The com.google.android.c2dm.permission.SEND permission is necessary
          so only GCM services can send data messages for the app.
        -->
        <receiver
            android:name="com.example.memories.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.memories" />
            </intent-filter>
        </receiver>

        <!--
          Application-specific subclass of GCMBaseIntentService that will
          handle received messages.
          By default, it must be named .GCMIntentService, unless the
          application uses a custom BroadcastReceiver that redefines its name.
        -->
        <service android:name="com.example.memories.gcm.GcmIntentService" />
    </application>

</manifest>